
/* @media (max-width:1100px) { */
  .body-part-two-container {
    border-radius: 0 80px 0 80px;
    min-height: 35rem;
    background: url('../../Assets/images/bg-pattern-circles.svg'), #3a3d5c;
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: right 50% top -50%, center ;
    background-blend-mode:screen;
  }
  
/* } */


@media (min-width:1100px){
  
  .body-part-one-image{
    max-width: 50vw;
    margin-right: -170px;
  }
  .body-part-three-image{
    max-width: 60vw;
    margin-left: -170px;
  }
  .body-part-one-container,.body-part-two-container,.body-part-three-container{
    width: 100vw;
  }
  .body-part-two-container{
    min-height: 25rem;
    background-size:40%, auto;
    background-position: left top 100% , center ;
  }
}