.header {
  /* border: 1px solid red; */
  width: 100%;
  border-radius: 0 0 0 90px;
  height: 50vh;
}

.logo-container,
.hamburger-img-container {
  z-index: 99;
}

.overlay {
  z-index: 0;
}

.not-active {
  transform: translateY(-200%);
  transition: transform 0.5s ease;
}

.active {
  transform: translateY(0%);
  transition: transform 0.5s ease;
}

.nav-items-container {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.collapse {
  height: 0;
  padding: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

.nav-open {
  opacity: 1;
  height: max-content;
  transition: all 0.5s ease;
  /* padding: 1rem; */
}

.navigation-links-container {
  /* z-index: 0; */
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* nav item */
:root {
  --nav-item-bg-img: url("../../Assets/images/icon-arrow-dark.svg");
}
@media (min-width: 1000px) {
  :root {
    --nav-item-bg-img: url("../../Assets/images/icon-arrow-light.svg");
  }
}

.nav-item-heading {
  background-image: var(--nav-item-bg-img);

  background-position: right;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
}

footer .nav-item-heading {
  background-image: none;
}
