.header {
  /* border: 1px solid red; */
  width: 100%;
  border-radius: 0 0 0 90px;
  min-height: 40rem;
  z-index: 100;
}

.logo-container,
.hamburger-img-container {
  z-index: 99;
}


@media (max-width:1100px){
  .nav-item-heading{
    width: 150px;
  }
  .overlay {
    z-index: 1;
  }
  .not-active {
    transform: translateY(-200%);
    transition: transform 0.5s ease;
  }
  
  .active {
    transform: translateY(0%);
    transition: transform 0.5s ease;
    z-index: 1000;
  }
  .sign-up {
    background: linear-gradient(to left, #fb4554, #ff876f);
  }
  .nav-overlay{
    display: none;
  }
}
.sign-up{
  color: #ff515b;
}

.nav-overlay{
  width: 95vw;
  height: 78px;
  display: inline;
  position:fixed;
  margin: 0;
  padding: 0;
  margin-left: -2rem;
  margin-top: -10px;
  border-radius: 16px;
}


.nav-items-container {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

@media (min-width:1100px){
  .nav-items-container{
    position: relative;    
    box-shadow: none;
  }
  .hamburger-img-container{
    display: none;
  }
  .nav-overlay.show{
     background-color: rgba(255, 83, 93,0.6);
     transition: background-color 0.5s ease;

  }
}

.hidden {
  display: none;
}

.collapse {
  height: 0;
  padding: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

.nav-open {
  opacity: 1;
  height: max-content;
  transition: all 0.5s ease;
  /* padding: 1rem; */
  z-index: 99;
}

.navigation-links-container {
  
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* nav item */
:root {
  --nav-item-arrow-down-img: url("../../Assets/images/icon-arrow-dark.svg");
}
@media (min-width: 1100px) {
  :root {
    --nav-item-arrow-down-img: url("../../Assets/images/icon-arrow-light.svg");
  }
}

.nav-item-heading {
  background-repeat: no-repeat;
  
  align-items: center;
  padding-right: 4rem;
  /* border: 1px solid red; */
}

.arrow-image {
  /* border: 1px solid red; */
  width: 25px;
  height: 25px;
  background-image: var(--nav-item-arrow-down-img);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
  /* border: 1px solid white; */
}
.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.nav-item-heading{
  /* border: 1px solid red; */
  /* justify-content: flex-start; */
  /* width: 100%; */
}

/* .nav-item-heading .nav-open .arrow-image {
  background-image: none;
} */

footer .arrow-image {
  background-image: none;
  display: none;
}

.header-body-link.white {
  color: rgb(255, 106, 102);
}


