/* :root {
  --nav-item-bg-img: url("../../../Assets/images/icon-arrow-dark.svg");
}
@media (min-width: 1000px) {
  :root {
    --nav-item-bg-img: url("../../../Assets/images/icon-arrow-light.svg");
  }
}

.nav-item-heading {
  background-image: var(--nav-item-bg-img);

  background-position: right;
  background-repeat: no-repeat;
}

footer .nav-item-heading {
  background-image: none;
} */
